.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}
.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    margin: 10px auto;
    display: block;
}